@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  background-color: #8b437f;
  border-radius: 30px;
  padding: 10px 15px;
  width: fit-content;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
  color: white;
  height: fit-content;
}
.button_mobile{
  font-size: 5vw;
}

.button_schedule{
  color: black;
  background-color: white;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2vw;
  width: fit-content;
  height: fit-content;
}

.schedule_mobile{
  font-size: 6vw;
}
